In [221]:
import pandas as pd
import json

#food.com data
df_food_com = pd.read_csv(r"C:\Users\kenp8\Downloads\RAW_recipes.csv")

The first set of data to take a look for the recipe recommending system at is from __[food.com](https://www.food.com/)__, source is __[here](https://www.kaggle.com/shuyangli94/food-com-recipes-and-user-interactions?select=RAW_recipes.csv)__. This set gives a good quantity with over 200k recipes from 18 years of recipes, as well as a description column that gives a little story element.

In [222]:
df_food_com.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231637 entries, 0 to 231636
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   name            231636 non-null  object
 1   id              231637 non-null  int64
 2   minutes         231637 non-null  int64
 3   contributor_id  231637 non-null  int64
 4   submitted       231637 non-null  object
 5   tags            231637 non-null  object
 6   nutrition       231637 non-null  object
 7   n_steps         231637 non-null  int64
 8   steps           231637 non-null  object
 9   description     226658 non-null  object
 10  ingredients     231637 non-null  object
 11  n_ingredients   231637 non-null  int64
dtypes: int64(5), object(7)
memory usage: 21.2+ MB

In [223]:
df_food_com.head()

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
0,arriba baked winter squash mexican style,137739,55,47892,2005-09-16,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,"['winter squash', 'mexican seasoning', 'mixed ...",7
1,a bit different breakfast pizza,31490,30,26278,2002-06-17,"['30-minutes-or-less', 'time-to-make', 'course...","[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]",9,"['preheat oven to 425 degrees f', 'press dough...",this recipe calls for the crust to be prebaked...,"['prepared pizza crust', 'sausage patty', 'egg...",6
2,all in the kitchen chili,112140,130,196586,2005-02-25,"['time-to-make', 'course', 'preparation', 'mai...","[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]",6,"['brown ground beef in large pot', 'add choppe...",this modified version of 'mom's' chili was a h...,"['ground beef', 'yellow onions', 'diced tomato...",13
3,alouette potatoes,59389,45,68585,2003-04-14,"['60-minutes-or-less', 'time-to-make', 'course...","[368.1, 17.0, 10.0, 2.0, 14.0, 8.0, 20.0]",11,['place potatoes in a large pot of lightly sal...,"this is a super easy, great tasting, make ahea...","['spreadable cheese with garlic and herbs', 'n...",11
4,amish tomato ketchup for canning,44061,190,41706,2002-10-25,"['weeknight', 'time-to-make', 'course', 'main-...","[352.9, 1.0, 337.0, 23.0, 3.0, 0.0, 28.0]",5,['mix all ingredients& boil for 2 1 / 2 hours ...,my dh's amish mother raised him on this recipe...,"['tomato juice', 'apple cider vinegar', 'sugar...",8

The next 3 sets all come from a single source, available __[here](https://eightportions.com/datasets/Recipes/)__ . They were scraped from __[Allrecipes.com](https://www.allrecipes.com/)__, __[Epicurious.com](https://www.epicurious.com/)__ and __[Foodnetwork.com](https://www.foodnetwork.com/)__. They provide a good amount of recipes and instructions but no descriptions were provided with this data.

In [224]:
#allrecipes data
df_ar = pd.read_json(r"C:\Users\kenp8\Downloads\recipes_raw_nosource_ar.json")

In [225]:
df_ar = df_ar.T
df_ar.tail()

,title,ingredients,instructions,picture_link
gehEOcDPtU3SmNSXrwWwWD4ulPpUdMO,Thai-Indian Veggie Soup,"[2 teaspoons olive oil ADVERTISEMENT, 1/4 cup ...",Heat oil in a large pot over medium heat. Add ...,qE58a7Z1Au0GXvPO188iHZZVqna9hLa
VRAsyF.1xMBYqAVKX1biyIORH6N6qzy,Coconut Milk-Free Panang Curry Chicken,"[2 cups light cream ADVERTISEMENT, 1/4 teaspoo...",Heat cream and coconut extract in a skillet or...,qE58a7Z1Au0GXvPO188iHZZVqna9hLa
Lf8/u.0k2029QMSQFrHS4gRsvKOQFUG,Cooked Cold Salad,"[3 tablespoons bacon grease ADVERTISEMENT, 2 c...",Heat bacon grease in a skillet over medium-hig...,qE58a7Z1Au0GXvPO188iHZZVqna9hLa
ay.AqX/9ysBtWHcnHoDeGAyJ5Orla8e,Easy Eggnog Creme Brulee,"[4 egg yolks ADVERTISEMENT, 1 tablespoon white...",Preheat oven to 350 degrees F (175 degrees C)....,qE58a7Z1Au0GXvPO188iHZZVqna9hLa
2Q3Zpfgt/PUwn1YABjJ5A9T3ZW8xwVa,Super Power Stovetop Granola,"[1/4 cup canola oil ADVERTISEMENT, 3 cups quic...",Heat 1/4 cup canola oil in large skillet over ...,qE58a7Z1Au0GXvPO188iHZZVqna9hLa

In [226]:
df_ar.info()

<class 'pandas.core.frame.DataFrame'>
Index: 39802 entries, rmK12Uau.ntP510KeImX506H6Mr6jTu to 2Q3Zpfgt/PUwn1YABjJ5A9T3ZW8xwVa
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         39522 non-null  object
 1   ingredients   39522 non-null  object
 2   instructions  39522 non-null  object
 3   picture_link  39522 non-null  object
dtypes: object(4)
memory usage: 2.8+ MB

In [227]:
#cleaning up missing info and getting index into better form
df_ar = df_ar.dropna(subset=['title'])
df_ar = df_ar.reset_index()
df_ar = df_ar.rename(columns = {'index': 'link'})
df_ar.tail()

,link,title,ingredients,instructions,picture_link
39517,gehEOcDPtU3SmNSXrwWwWD4ulPpUdMO,Thai-Indian Veggie Soup,"[2 teaspoons olive oil ADVERTISEMENT, 1/4 cup ...",Heat oil in a large pot over medium heat. Add ...,qE58a7Z1Au0GXvPO188iHZZVqna9hLa
39518,VRAsyF.1xMBYqAVKX1biyIORH6N6qzy,Coconut Milk-Free Panang Curry Chicken,"[2 cups light cream ADVERTISEMENT, 1/4 teaspoo...",Heat cream and coconut extract in a skillet or...,qE58a7Z1Au0GXvPO188iHZZVqna9hLa
39519,Lf8/u.0k2029QMSQFrHS4gRsvKOQFUG,Cooked Cold Salad,"[3 tablespoons bacon grease ADVERTISEMENT, 2 c...",Heat bacon grease in a skillet over medium-hig...,qE58a7Z1Au0GXvPO188iHZZVqna9hLa
39520,ay.AqX/9ysBtWHcnHoDeGAyJ5Orla8e,Easy Eggnog Creme Brulee,"[4 egg yolks ADVERTISEMENT, 1 tablespoon white...",Preheat oven to 350 degrees F (175 degrees C)....,qE58a7Z1Au0GXvPO188iHZZVqna9hLa
39521,2Q3Zpfgt/PUwn1YABjJ5A9T3ZW8xwVa,Super Power Stovetop Granola,"[1/4 cup canola oil ADVERTISEMENT, 3 cups quic...",Heat 1/4 cup canola oil in large skillet over ...,qE58a7Z1Au0GXvPO188iHZZVqna9hLa

In [228]:
df_ar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39522 entries, 0 to 39521
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   link          39522 non-null  object
 1   title         39522 non-null  object
 2   ingredients   39522 non-null  object
 3   instructions  39522 non-null  object
 4   picture_link  39522 non-null  object
dtypes: object(5)
memory usage: 1.5+ MB

In [229]:
#epicurious.com data
df_epi = pd.read_json(r"C:\Users\kenp8\Downloads\recipes_raw_nosource_epi.json")

In [230]:
#cleaning up missing info and getting index into better form
df_epi = df_epi.T
df_epi = df_epi.dropna(subset=['title'])
df_epi = df_epi.reset_index()
df_epi = df_epi.rename(columns = {'index': 'link'})
df_epi.tail()

,link,ingredients,picture_link,instructions,title
25318,lgygAJbdT1RNgrOYYveXtW4Ze9GtcZK,"[5 cups (about) canned beef broth, 1 cup lenti...",None,Bring 4 cups broth and lentils to boil in larg...,Spinach and Lentil Soup
25319,EgIvlp1EfF4qTsnSI3v7ViZF1b3f2qC,"[1/2 teaspoon turmeric, 2 cups water, 3/4 poun...",16DvpBiksnvbWPCSdZUcPY3oFvgo0py,"Stir together turmeric, 1 1/2 cups water, and ...",Fresh Cheese with Spinach
25320,aCaoP.P8A1h6ALQmBnw3ypvYfRt/zZe,"[1 medium jalapeño, thinly sliced, 2 garlic cl...",m6IALrfAOr5KDVpqKcvUNpa7VermSIq,"Marinate and cook the steak: Combine jalapeño,...",Jalapeño and Lime–Marinated Skirt Steak Tacos
25321,fGxd/ZNUQcXxxqaVgEtMJmsNKLbugAe,"[1 1/2 cups almond flour or almond meal, 1/2 c...",wq1Cqtl16W8QpuFaXrDdB2kGsUn9Ku6,Make the cakes: Preheat oven to 350°F. Line th...,Semolina–Lemon Syrup Cakes
25322,qznqHiNpq0AB1AYn002A2HvaEFnN0lq,"[1 1/2 pounds plum tomatoes, coarsely chopped ...",DIZQ16bhYvwR7yKtaNOQf3XkgD0vbCK,"Preheat oven to 400°F. Combine plum tomatoes, ...",Chicken Cacciatore

In [231]:
df_epi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25323 entries, 0 to 25322
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   link          25323 non-null  object
 1   ingredients   25323 non-null  object
 2   picture_link  12119 non-null  object
 3   instructions  25323 non-null  object
 4   title         25323 non-null  object
dtypes: object(5)
memory usage: 989.3+ KB

In [232]:
#foodnetwork.com data
df_fn = pd.read_json(r"C:\Users\kenp8\Downloads\recipes_raw_nosource_fn.json")

In [233]:
#cleaning up missing info and getting index into better form
df_fn = df_fn.T
df_fn = df_fn.dropna(subset=['title'])
df_fn = df_fn.reset_index()
df_fn = df_fn.rename(columns = {'index': 'link'})
df_fn.tail()

,link,instructions,ingredients,title,picture_link
59745,4bfMWxlbKhx/McJq/89k0SBdw.VvAzW,Watch how to make this recipe.\nPreheat a gril...,"[4 ears fresh corn, 2 heads Belgian endive, 2 ...",Summer Corn Salad,G9XPV1I0nULIbwS76f..0AIq2DsfI3u
59746,T8lWBA1fcVdjxhMSWuoAbGoy5Lj.A8m,Preheat the broiler. Cut the tomatoes in 1/2 c...,"[4 large plum tomatoes, Salt and sugar, 1 1/2 ...",Zucchini Stuffed Tomatoes,nA7V5iQqaFcIEQQ0/MKqVdUioieXjPu
59747,f/coffo2TMs2J2gq5nTOUIqH2TRAkui,Heat the oil and butter in a large skillet ove...,"[3 tablespoons olive oil, 2 tablespoons unsalt...",Pepper Pasta Quick Cook,None
59748,q3aDJc4zoEF5QT4e7Mn.ieQwV.DyHwS,Preheat oven to 350 degrees. On the top half o...,"[8 ounces butter, 8 ounces bittersweet chocola...",Chocolate Cake with Armagnac Ice Cream,None
59749,7cXA77UpdDtIfBug2v6lEVIuV3Zcvhm,Watch how to make this recipe.\nIn a medium sa...,[3 (10.5-ounce) cans restaurant-style condense...,Crabby Bisque,CTfEq6AD/JpKf4ys4awoYB4hpdzgXqm

In [234]:
df_fn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59750 entries, 0 to 59749
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   link          59750 non-null  object
 1   instructions  59628 non-null  object
 2   ingredients   59750 non-null  object
 3   title         59750 non-null  object
 4   picture_link  30952 non-null  object
dtypes: object(5)
memory usage: 2.3+ MB